#header {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    
    #addPlayer {
        margin: auto 0 0 0;
    }
    
    #scoreTitle,
    #nameTitle {
        display: none;
    }
    
    #mainTitle {
        width: 60%;
        margin: auto auto 0 auto;
        text-align: center;        
    }
}

@media screen and (min-width: 575px) {
    #header {
        #scoreTitle,
        #nameTitle {
            display: inline-block;
            width: 20%;
            margin: auto 0 0 0;
            text-align: center;
        }

        #mainTitle {
            margin: auto 0 0 0;     
        }
    }
}